// SPDX-License-Identifier: GPL-2.0
#include <dt-bindings/input/input.h>
#include "tegra124.dtsi"

/ {
	aliases {
		rtc0 = "/i2c@7000d000/pmic@40";
		rtc1 = "/rtc@7000e000";
		serial0 = &uarta;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	/*
	 * Note that recent version of the device tree compiler (starting with
	 * version 1.4.2) warn about this node containing a reg property, but
	 * missing a unit-address. However, the bootloader on these Chromebook
	 * devices relies on the full name of this node to be exactly /memory.
	 * Adding the unit-address causes the bootloader to create a /memory
	 * node and write the memory bank configuration to that node, which in
	 * turn leads the kernel to believe that the device has 2 GiB of
	 * memory instead of the amount detected by the bootloader.
	 *
	 * The name of this node is effectively ABI and must not be changed.
	 */
	memory {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	/delete-node/ memory@80000000;

	host1x@50000000 {
		hdmi@54280000 {
			status = "okay";
			vdd-supply = <&vdd_3v3_run>;
			pll-supply = <&vdd_hdmi_pll>;
			hdmi-supply = <&vdd_5v0_avd_lcd>;

			nvidia,ddc-i2c-bus = <&hdmi_ddc>;
			nvidia,hpd-gpio =
				<&gpio TEGRA_GPIO(N, 7) GPIO_ACTIVE_HIGH>;
		};

		sor@54540000 {
			status = "okay";
			nvidia,dpaux = <&dpaux>;
			nvidia,panel = <&panel>;
		};

		dpaux@545c0000 {
			vdd-supply = <&vdd_3v3_dpaux>;
			status = "okay";
		};
	};

	gpu@0,57000000 {
		status = "okay";

		vdd-supply = <&vdd_gpu>;
	};

	serial@70006000 {
		/* Debug connector on the bottom of the board near SD card. */
		status = "okay";
	};

	pwm@7000a000 {
		status = "okay";
	};

	i2c@7000c000 {
		status = "okay";
		clock-frequency = <100000>;

		acodec: audio-codec@10 {
			compatible = "maxim,max98090";
			reg = <0x10>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(H, 4) IRQ_TYPE_EDGE_FALLING>;
		};

		temperature-sensor@4c {
			compatible = "ti,tmp451";
			reg = <0x4c>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(I, 6) IRQ_TYPE_LEVEL_LOW>;
			vcc-supply = <&vdd_3v3_sensor>;
			#thermal-sensor-cells = <1>;
		};
	};

	i2c@7000c400 {
		status = "okay";
		clock-frequency = <100000>;

		trackpad@15 {
			compatible = "elan,ekth3000";
			reg = <0x15>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(W, 3) IRQ_TYPE_EDGE_FALLING>;
			wakeup-source;
		};
	};

	i2c@7000c500 {
		status = "okay";
		clock-frequency = <400000>;

		tpm@20 {
			compatible = "infineon,slb9645tt";
			reg = <0x20>;
		};
	};

	hdmi_ddc: i2c@7000c700 {
		status = "okay";
		clock-frequency = <100000>;
	};

	i2c@7000d000 {
		status = "okay";
		clock-frequency = <400000>;

		pmic: pmic@40 {
			compatible = "ams,as3722";
			reg = <0x40>;
			interrupts = <0 86 IRQ_TYPE_LEVEL_HIGH>;

			ams,system-power-controller;

			#interrupt-cells = <2>;
			interrupt-controller;

			gpio-controller;
			#gpio-cells = <2>;

			pinctrl-names = "default";
			pinctrl-0 = <&as3722_default>;

			as3722_default: pinmux {
				gpio0 {
					pins = "gpio0";
					function = "gpio";
					bias-pull-down;
				};

				gpio1 {
					pins = "gpio1";
					function = "gpio";
					bias-pull-up;
				};

				gpio2_4_7 {
					pins = "gpio2", "gpio4", "gpio7";
					function = "gpio";
					bias-pull-up;
				};

				gpio3_6 {
					pins = "gpio3", "gpio6";
					bias-high-impedance;
				};

				gpio5 {
					pins = "gpio5";
					function = "clk32k-out";
					bias-pull-down;
				};
			};

			regulators {
				vsup-sd2-supply = <&vdd_5v0_sys>;
				vsup-sd3-supply = <&vdd_5v0_sys>;
				vsup-sd4-supply = <&vdd_5v0_sys>;
				vsup-sd5-supply = <&vdd_5v0_sys>;
				vin-ldo0-supply = <&vdd_1v35_lp0>;
				vin-ldo1-6-supply = <&vdd_3v3_run>;
				vin-ldo2-5-7-supply = <&vddio_1v8>;
				vin-ldo3-4-supply = <&vdd_3v3_run>;
				vin-ldo9-10-supply = <&vdd_5v0_sys>;
				vin-ldo11-supply = <&vdd_3v3_run>;

				vdd_cpu: sd0 {
					regulator-name = "+13.5V_VDD_CPU_AP";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <1350000>;
					regulator-min-microamp = <3500000>;
					regulator-max-microamp = <3500000>;
					regulator-always-on;
					regulator-boot-on;
					ams,ext-control = <2>;
				};

				sd1 {
					regulator-name = "+13.5V_VDD_CORE";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <1350000>;
					regulator-min-microamp = <2500000>;
					regulator-max-microamp = <4000000>;
					regulator-always-on;
					regulator-boot-on;
					ams,ext-control = <1>;
				};

				vdd_1v35_lp0: sd2 {
					regulator-name = "+1.35V_LP0(sd2)";
					regulator-min-microvolt = <1350000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-boot-on;
				};

				sd3 {
					regulator-name = "+1.35V_LP0(sd3)";
					regulator-min-microvolt = <1350000>;
					regulator-max-microvolt = <1350000>;
					regulator-always-on;
					regulator-boot-on;
				};

				vdd_1v05_run: sd4 {
					regulator-name = "+1.05V_RUN";
					regulator-min-microvolt = <1050000>;
					regulator-max-microvolt = <1050000>;
				};

				vddio_1v8: sd5 {
					regulator-name = "+1.8V_VDDIO";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
				};

				vdd_gpu: sd6 {
					regulator-name = "+12V_VDD_GPU_AP";
					regulator-min-microvolt = <650000>;
					regulator-max-microvolt = <1200000>;
					regulator-min-microamp = <3500000>;
					regulator-max-microamp = <3500000>;
					regulator-boot-on;
					regulator-always-on;
				};

				avdd_1v05_run: ldo0 {
					regulator-name = "+1.05V_RUN_AVDD";
					regulator-min-microvolt = <1050000>;
					regulator-max-microvolt = <1050000>;
					regulator-boot-on;
					regulator-always-on;
					ams,ext-control = <1>;
				};

				ldo1 {
					regulator-name = "+1.8V_RUN_CAM";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};

				ldo2 {
					regulator-name = "+1.2V_GEN_AVDD";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
					regulator-boot-on;
					regulator-always-on;
				};

				ldo3 {
					regulator-name = "+1.00V_LP0_VDD_RTC";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
					regulator-boot-on;
					regulator-always-on;
					ams,enable-tracking;
				};

				vdd_run_cam: ldo4 {
					regulator-name = "+3.3V_RUN_CAM";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2800000>;
				};

				ldo5 {
					regulator-name = "+1.2V_RUN_CAM_FRONT";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1200000>;
				};

				vddio_sdmmc3: ldo6 {
					regulator-name = "+3.3V_VDDIO_SDMMC3";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <3300000>;
				};

				ldo7 {
					regulator-name = "+1.05V_RUN_CAM_REAR";
					regulator-min-microvolt = <1050000>;
					regulator-max-microvolt = <1050000>;
				};

				ldo9 {
					regulator-name = "+2.8V_RUN_TOUCH";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2800000>;
				};

				ldo10 {
					regulator-name = "+2.8V_RUN_CAM_AF";
					regulator-min-microvolt = <2800000>;
					regulator-max-microvolt = <2800000>;
				};

				ldo11 {
					regulator-name = "+1.8V_RUN_VPP_FUSE";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};
			};
		};
	};

	spi@7000d400 {
		status = "okay";

		cros_ec: cros-ec@0 {
			compatible = "google,cros-ec-spi";
			spi-max-frequency = <3000000>;
			interrupt-parent = <&gpio>;
			interrupts = <TEGRA_GPIO(C, 7) IRQ_TYPE_LEVEL_LOW>;
			reg = <0>;

			google,cros-ec-spi-msg-delay = <2000>;

			i2c-tunnel {
				compatible = "google,cros-ec-i2c-tunnel";
				#address-cells = <1>;
				#size-cells = <0>;

				google,remote-bus = <0>;

				charger: bq24735@9 {
					compatible = "ti,bq24735";
					reg = <0x9>;
					interrupt-parent = <&gpio>;
					interrupts = <TEGRA_GPIO(J, 0)
							IRQ_TYPE_EDGE_BOTH>;
					ti,ac-detect-gpios = <&gpio
							TEGRA_GPIO(J, 0)
							GPIO_ACTIVE_HIGH>;
					ti,external-control;
				};

				battery: sbs-battery@b {
					compatible = "sbs,sbs-battery";
					reg = <0xb>;
					sbs,i2c-retry-count = <2>;
					sbs,poll-retry-count = <10>;
					power-supplies = <&charger>;
				};
			};
		};
	};

	spi@7000da00 {
		status = "okay";
		spi-max-frequency = <25000000>;

		flash@0 {
			compatible = "winbond,w25q32dw";
			spi-max-frequency = <25000000>;
			reg = <0>;
		};
	};

	pmc@7000e400 {
		nvidia,invert-interrupt;
		nvidia,suspend-mode = <0>;
		nvidia,cpu-pwr-good-time = <500>;
		nvidia,cpu-pwr-off-time = <300>;
		nvidia,core-pwr-good-time = <641 3845>;
		nvidia,core-pwr-off-time = <61036>;
		nvidia,core-power-req-active-high;
		nvidia,sys-clock-req-active-high;
	};

	hda@70030000 {
		status = "okay";
	};

	usb@70090000 {
		phys = <&{/padctl@7009f000/pads/usb2/lanes/usb2-0}>, /* 1st USB A */
		       <&{/padctl@7009f000/pads/usb2/lanes/usb2-1}>, /* Internal USB */
		       <&{/padctl@7009f000/pads/usb2/lanes/usb2-2}>, /* 2nd USB A */
		       <&{/padctl@7009f000/pads/pcie/lanes/pcie-0}>, /* 1st USB A */
		       <&{/padctl@7009f000/pads/pcie/lanes/pcie-1}>; /* 2nd USB A */
		phy-names = "usb2-0", "usb2-1", "usb2-2", "usb3-0", "usb3-1";

		avddio-pex-supply = <&vdd_1v05_run>;
		dvddio-pex-supply = <&vdd_1v05_run>;
		avdd-usb-supply = <&vdd_3v3_lp0>;
		avdd-pll-utmip-supply = <&vddio_1v8>;
		avdd-pll-erefe-supply = <&avdd_1v05_run>;
		avdd-usb-ss-pll-supply = <&vdd_1v05_run>;
		hvdd-usb-ss-supply = <&vdd_3v3_lp0>;
		hvdd-usb-ss-pll-e-supply = <&vdd_3v3_lp0>;

		status = "okay";
	};

	padctl@7009f000 {
		status = "okay";

		pads {
			usb2 {
				status = "okay";

				lanes {
					usb2-0 {
						nvidia,function = "xusb";
						status = "okay";
					};

					usb2-1 {
						nvidia,function = "xusb";
						status = "okay";
					};

					usb2-2 {
						nvidia,function = "xusb";
						status = "okay";
					};
				};
			};

			pcie {
				status = "okay";

				lanes {
					pcie-0 {
						nvidia,function = "usb3-ss";
						status = "okay";
					};

					pcie-1 {
						nvidia,function = "usb3-ss";
						status = "okay";
					};
				};
			};
		};

		ports {
			usb2-0 {
				vbus-supply = <&vdd_usb1_vbus>;
				status = "okay";
				mode = "otg";
			};

			usb2-1 {
				vbus-supply = <&vdd_run_cam>;
				status = "okay";
				mode = "host";
			};

			usb2-2 {
				vbus-supply = <&vdd_usb3_vbus>;
				status = "okay";
				mode = "host";
			};

			usb3-0 {
				nvidia,usb2-companion = <0>;
				status = "okay";
			};

			usb3-1 {
				nvidia,usb2-companion = <1>;
				status = "okay";
			};
		};
	};

	sdhci0_pwrseq: sdhci0_pwrseq {
		compatible = "mmc-pwrseq-simple";

		reset-gpios = <&gpio TEGRA_GPIO(X, 7) GPIO_ACTIVE_LOW>;
	};

	sdhci1_pwrseq: sdhci1_pwrseq {
		compatible = "mmc-pwrseq-simple";
	};

	sdhci@700b0000 { /* WiFi/BT on this bus */
		status = "okay";
		bus-width = <4>;
		no-1-8-v;
		non-removable;
		mmc-pwrseq = <&sdhci0_pwrseq>;
		vmmc-supply = <&vdd_3v3_lp0>;
		vqmmc-supply = <&vddio_1v8>;
		keep-power-in-suspend;
	};

	sdhci@700b0400 { /* SD Card on this bus */
		status = "okay";
		cd-gpios = <&gpio TEGRA_GPIO(V, 2) GPIO_ACTIVE_LOW>;
		power-gpios = <&gpio TEGRA_GPIO(R, 0) GPIO_ACTIVE_HIGH>;
		bus-width = <4>;
		no-1-8-v;
		vqmmc-supply = <&vddio_sdmmc3>;
		mmc-pwrseq = <&sdhci1_pwrseq>;
	};

	sdhci@700b0600 { /* eMMC on this bus */
		status = "okay";
		bus-width = <8>;
		no-1-8-v;
		non-removable;
	};

	/* CPU DFLL clock */
	clock@70110000 {
		status = "disabled";
		vdd-cpu-supply = <&vdd_cpu>;
		nvidia,i2c-fs-rate = <400000>;
	};

	ahub@70300000 {
		i2s@70301100 {
			status = "okay";
		};
	};

	backlight: backlight {
		compatible = "pwm-backlight";

		enable-gpios = <&gpio TEGRA_GPIO(H, 2) GPIO_ACTIVE_HIGH>;
		power-supply = <&vdd_lcd_bl_en>;
		pwms = <&pwm 1 1000000>;
		status = "okay";
		name = "backlight";
		post-pwm-on-delay-ms = <20>;
		brightness-levels = <0x00 0x01 0x02 0x03
					0x04 0x05 0x06 0x07
					0x08 0x09 0x0a 0x0b
					0x0c 0x0d 0x0e 0x0f
					0x10 0x11 0x12 0x13
					0x14 0x15 0x16 0x17
					0x18 0x19 0x1a 0x1b
					0x1c 0x1d 0x1e 0x1f
					0x20 0x21 0x22 0x23
					0x24 0x25 0x26 0x27
					0x28 0x29 0x2a 0x2b
					0x2c 0x2d 0x2e 0x2f
					0x30 0x31 0x32 0x33
					0x34 0x35 0x36 0x37
					0x38 0x39 0x3a 0x3b
					0x3c 0x3d 0x3e 0x3f
					0x40 0x41 0x42 0x43
					0x44 0x45 0x46 0x47
					0x48 0x49 0x4a 0x4b
					0x4c 0x4d 0x4e 0x4f
					0x50 0x51 0x52 0x53
					0x54 0x55 0x56 0x57
					0x58 0x59 0x5a 0x5b
					0x5c 0x5d 0x5e 0x5f
					0x60 0x61 0x62 0x63
					0x64 0x65 0x66 0x67
					0x68 0x69 0x6a 0x6b
					0x6c 0x6d 0x6e 0x6f
					0x70 0x71 0x72 0x73
					0x74 0x75 0x76 0x77
					0x78 0x79 0x7a 0x7b
					0x7c 0x7d 0x7e 0x7f
					0x80 0x81 0x82 0x83
					0x84 0x85 0x86 0x87
					0x88 0x89 0x8a 0x8b
					0x8c 0x8d 0x8e 0x8f
					0x90 0x91 0x92 0x93
					0x94 0x95 0x96 0x97
					0x98 0x99 0x9a 0x9b
					0x9c 0x9d 0x9e 0x9f
					0xa0 0xa1 0xa2 0xa3
					0xa4 0xa5 0xa6 0xa7
					0xa8 0xa9 0xaa 0xab
					0xac 0xad 0xae 0xaf
					0xb0 0xb1 0xb2 0xb3
					0xb4 0xb5 0xb6 0xb7
					0xb8 0xb9 0xba 0xbb
					0xbc 0xbd 0xbe 0xbf
					0xc0 0xc1 0xc2 0xc3
					0xc4 0xc5 0xc6 0xc7
					0xc8 0xc9 0xca 0xcb
					0xcc 0xcd 0xce 0xcf
					0xd0 0xd1 0xd2 0xd3
					0xd4 0xd5 0xd6 0xd7
					0xd8 0xd9 0xda 0xdb
					0xdc 0xdd 0xde 0xdf
					0xe0 0xe1 0xe2 0xe3
					0xe4 0xe5 0xe6 0xe7
					0xe8 0xe9 0xea 0xeb
					0xec 0xed 0xee 0xef
					0xf0 0xf1 0xf2 0xf3
					0xf4 0xf5 0xf6 0xf7
					0xf8 0xf9 0xfa 0xfb
					0xfc 0xfd 0xfe 0xff
					0x100>;
			default-brightness-level = <224>;

		panel@0 {
			compatible = "pwm-backlight-alt-brightness-levels";
			name = "panel";
			identifier = "AUO-132c-0";
			brightness-levels = <0x00 0x01 0x02
						0x02 0x04 0x05 0x06
						0x06 0x07 0x08 0x09
						0x0a 0x0a 0x0b 0x0c
						0x0d 0x0e 0x0f 0x0f
						0x10 0x11 0x12 0x13
						0x14 0x14 0x15 0x16
						0x17 0x18 0x19 0x19
						0x1a 0x1b 0x1c 0x1d
						0x1e 0x1e 0x1f 0x20
						0x21 0x22 0x23 0x23
						0x24 0x25 0x26 0x27
						0x28 0x28 0x29 0x2a
						0x2b 0x2c 0x2d 0x2d
						0x2e 0x2f 0x30 0x31
						0x32 0x32 0x33 0x34
						0x35 0x36 0x37 0x37
						0x38 0x39 0x3a 0x3b
						0x3c 0x3c 0x3d 0x3e
						0x3f 0x40 0x41 0x41
						0x42 0x43 0x44 0x45
						0x46 0x46 0x47 0x48
						0x49 0x4a 0x4b 0x4c
						0x4d 0x4d 0x4e 0x4f
						0x50 0x51 0x52 0x52
						0x53 0x54 0x55 0x56
						0x57 0x58 0x59 0x5a
						0x5b 0x5c 0x5d 0x5f
						0x5f 0x60 0x62 0x62
						0x64 0x65 0x66 0x67
						0x68 0x69 0x6a 0x6b
						0x6c 0x6e 0x6f 0x70
						0x71 0x72 0x73 0x74
						0x75 0x76 0x77 0x79
						0x79 0x7b 0x7c 0x7d
						0x7e 0x7f 0x80 0x81
						0x82 0x84 0x85 0x86
						0x87 0x88 0x89 0x8a
						0x8b 0x8d 0x8d 0x8f
						0x90 0x91 0x92 0x93
						0x94 0x95 0x96 0x97
						0x98 0x9a 0x9b 0x9c
						0x9d 0x9e 0x9f 0xa0
						0xa1 0xa2 0xa4 0xa5
						0xa6 0xa7 0xa8 0xa9
						0xaa 0xab 0xac 0xad
						0xaf 0xb0 0xb1 0xb2
						0xb3 0xb4 0xb6 0xb7
						0xb7 0xb8 0xba 0xbb
						0xbc 0xbd 0xbe 0xc0
						0xc1 0xc1 0xc2 0xc3
						0xc5 0xc6 0xc7 0xc8
						0xc9 0xca 0xcc 0xcc
						0xce 0xcf 0xd0 0xd1
						0xd2 0xd3 0xd4 0xd5
						0xd6 0xd8 0xd9 0xda
						0xdb 0xdc 0xde 0xdf
						0xe0 0xe1 0xe2 0xe3
						0xe4 0xe6 0xe6 0xe8
						0xe9 0xea 0xeb 0xec
						0xed 0xee 0xef 0xf1
						0xf2 0xf3 0xf4 0xf5
						0xf6 0xf7 0xf9 0xfa
						0xfb 0xfc 0xfd 0xfe
						0xff 0x100>;
		};

		panel@1 {
			compatible = "pwm-backlight-alt-brightness-levels";
			name = "panel";
			brightness-levels = <0x00 0x01
						0x02 0x03 0x03 0x04
						0x05 0x06 0x06 0x07
						0x08 0x09 0x09 0x0a
						0x0b 0x0c 0x0c 0x0d
						0x0e 0x0e 0x0f 0x10
						0x11 0x11 0x12 0x13
						0x13 0x14 0x15 0x16
						0x17 0x17 0x18 0x19
						0x19 0x1a 0x1b 0x1c
						0x1c 0x1d 0x1e 0x1f
						0x1f 0x20 0x21 0x22
						0x22 0x23 0x24 0x25
						0x25 0x26 0x27 0x27
						0x28 0x29 0x2a 0x2a
						0x2b 0x2c 0x2d 0x2e
						0x2e 0x2f 0x30 0x30
						0x31 0x32 0x33 0x33
						0x34 0x35 0x36 0x36
						0x37 0x38 0x38 0x39
						0x3a 0x3b 0x3b 0x3c
						0x3d 0x3d 0x3e 0x3f
						0x40 0x40 0x41 0x42
						0x43 0x44 0x44 0x45
						0x46 0x47 0x47 0x48
						0x49 0x4a 0x4a 0x4b
						0x4c 0x4d 0x4e 0x4f
						0x50 0x51 0x52 0x53
						0x54 0x55 0x56 0x57
						0x59 0x5a 0x5a 0x5c
						0x5d 0x5e 0x5f 0x60
						0x62 0x62 0x64 0x65
						0x65 0x67 0x68 0x69
						0x6a 0x6b 0x6c 0x6d
						0x6e 0x6f 0x71 0x72
						0x73 0x74 0x75 0x76
						0x77 0x79 0x7a 0x7b
						0x7c 0x7d 0x7e 0x7f
						0x80 0x81 0x82 0x83
						0x85 0x86 0x87 0x88
						0x89 0x8a 0x8c 0x8d
						0x8e 0x8f 0x90 0x92
						0x93 0x94 0x95 0x96
						0x97 0x98 0x9a 0x9b
						0x9c 0x9d 0x9e 0x9f
						0xa1 0xa2 0xa3 0xa4
						0xa5 0xa7 0xa8 0xa9
						0xaa 0xab 0xac 0xad
						0xaf 0xb0 0xb1 0xb2
						0xb4 0xb5 0xb6 0xb7
						0xb9 0xb9 0xbb 0xbc
						0xbd 0xbe 0xbf 0xc0
						0xc2 0xc3 0xc5 0xc5
						0xc7 0xc8 0xc9 0xca
						0xcc 0xcd 0xce 0xcf
						0xd0 0xd2 0xd3 0xd5
						0xd5 0xd7 0xd8 0xd9
						0xda 0xdc 0xdd 0xde
						0xdf 0xe1 0xe2 0xe3
						0xe4 0xe5 0xe6 0xe7
						0xe9 0xea 0xeb 0xed
						0xee 0xef 0xf0 0xf2
						0xf3 0xf4 0xf5 0xf6
						0xf8 0xf9 0xfa 0xfb
						0xfd 0xfe 0x100>;
				identifier = "AUO-112d-0";
		};
	};

	clocks {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		clk32k_in: clock@0 {
			compatible = "fixed-clock";
			reg = <0>;
			#clock-cells = <0>;
			clock-frequency = <32768>;
		};
	};

	cpus {
		cpu@0 {
			vdd-cpu-supply = <&vdd_cpu>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		lid {
			label = "Lid";
			gpios = <&gpio TEGRA_GPIO(R, 4) GPIO_ACTIVE_LOW>;
			linux,input-type = <5>;
			linux,code = <KEY_RESERVED>;
			debounce-interval = <1>;
			wakeup-source;
			status = "okay";
		};

		power {
			label = "Power";
			gpios = <&gpio TEGRA_GPIO(Q, 0) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			debounce-interval = <30>;
			wakeup-source;
			status = "okay";
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		vdd_mux: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "+VDD_MUX";
			regulator-min-microvolt = <12000000>;
			regulator-max-microvolt = <12000000>;
			regulator-always-on;
			regulator-boot-on;
		};

		vdd_5v0_sys: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "+5V_SYS";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			regulator-boot-on;
			vin-supply = <&vdd_mux>;
		};

		vdd_usb1_vbus: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "+5V_USB_HS";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(N, 4) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			gpio-open-drain;
			vin-supply = <&vdd_5v0_sys>;
		};

		vdd_3v3_run: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			regulator-name = "+3.3V_RUN";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			regulator-boot-on;
			gpio = <&pmic 1 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			vin-supply = <&vdd_mux>;
		};

		vdd_5v0_hdmi: regulator@4 {
			compatible = "regulator-fixed";
			reg = <4>;
			regulator-name = "+3.3V_AVDD_HDMI_AP_GATED";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(K, 6) GPIO_ACTIVE_HIGH>;
			vin-supply = <&vdd_5v0_sys>;
			enable-active-high;
			regulator-boot-on;
		};

		vdd_5v0_avd_lcd: regulator@5 {
			compatible = "regulator-fixed";
			reg = <5>;
			regulator-name = "+5.0V_AVD_LCD";
			enable-active-high;
			regulator-boot-on;
			gpio = <&pmic 4 GPIO_ACTIVE_HIGH>;
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			vin-supply = <&vdd_5v0_sys>;
		};

		vdd_5v0_backlight: regulator@6 {
			compatible = "regulator-fixed";
			reg = <6>;
			regulator-name = "+5V_VDD_BACKLIGHT";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			regulator-boot-on;
			gpio = <&gpio TEGRA_GPIO(P, 2) GPIO_ACTIVE_HIGH>;
			vin-supply = <&vdd_5v0_sys>;
		};

		vdd_lcd_bl_en: regulator@7 {
			compatible = "regulator-fixed";
			reg = <7>;
			regulator-name = "+5V_USB_HS";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			//handled in backlight
			//gpio = <&gpio TEGRA_GPIO(H, 2) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-boot-on;
			vin-supply = <&vdd_5v0_sys>;
		};

		vdd_usb3_vbus: regulator@8 {
			compatible = "regulator-fixed";
			reg = <8>;
			regulator-name = "+5V_USB_SS";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio TEGRA_GPIO(N, 5) GPIO_ACTIVE_HIGH>;
			enable-active-high;
			gpio-open-drain;
			vin-supply = <&vdd_5v0_sys>;
		};

		vdd_5v0_panel: regulator@9 {
			compatible = "regulator-fixed";
			reg = <9>;
			regulator-name = "+5V0_PANEL";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&pmic 1 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			regulator-boot-on;
			vin-supply = <&vdd_5v0_sys>;
		};

		vdd_3v3_lp0: regulator@10 {
			compatible = "regulator-fixed";
			reg = <10>;
			regulator-name = "+3.3V_LP0";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			/*
			 * TODO: find a way to wire this up with the USB EHCI
			 * controllers so that it can be enabled on demand.
			 */
			regulator-always-on;
			enable-active-high;
			vin-supply = <&vdd_3v3_run>;
		};

		vdd_hdmi_pll: regulator@11 {
			compatible = "regulator-fixed";
			reg = <11>;
			regulator-name = "+1.05V_RUN_AVDD_HDMI_PLL";
			regulator-min-microvolt = <1050000>;
			regulator-max-microvolt = <1050000>;
			gpio = <&gpio TEGRA_GPIO(H, 7) GPIO_ACTIVE_LOW>;
			vin-supply = <&vdd_1v05_run>;
			regulator-boot-on;
		};

		vdd_3v3_dpaux: regulator@12 {
			compatible = "regulator-fixed";
			reg = <12>;
			regulator-name = "+3V3_DPAUX_CON";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			vin-supply = <&vdd_3v3_run>;
			regulator-boot-on;
			regulator-enable-always-on;
		};

		vdd_3v3_sensor: regulator@13 {
			compatible = "regulator-fixed";
			reg = <13>;
			regulator-name = "+3V3_SENSOR";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&pmic 1 GPIO_ACTIVE_HIGH>;
			enable-active-high;
			vin-supply = <&vdd_3v3_run>;
		};
	};

	sound {
		nvidia,audio-routing =
			"Headphones", "HPR",
			"Headphones", "HPL",
			"Speakers", "SPKR",
			"Speakers", "SPKL",
			"Mic Jack", "MICBIAS",
			"DMICL", "Int Mic",
			"DMICR", "Int Mic",
			"IN34", "Mic Jack";

		nvidia,i2s-controller = <&tegra_i2s1>;
		nvidia,audio-codec = <&acodec>;

		clocks = <&tegra_car TEGRA124_CLK_PLL_A>,
			 <&tegra_car TEGRA124_CLK_PLL_A_OUT0>,
			 <&tegra_car TEGRA124_CLK_EXTERN1>;
		clock-names = "pll_a", "pll_a_out0", "mclk";

		nvidia,hp-det-gpios = <&gpio TEGRA_GPIO(I, 7) GPIO_ACTIVE_HIGH>;
		nvidia,mic-det-gpios =
				<&gpio TEGRA_GPIO(R, 7) GPIO_ACTIVE_HIGH>;
	};

	gpio-restart {
		compatible = "gpio-restart";
		gpios = <&gpio TEGRA_GPIO(I, 5) GPIO_ACTIVE_LOW>;
		priority = <200>;
	};
};

#include "cros-ec-keyboard.dtsi"
